<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupservlet</servlet-name>
        <servlet-class>signupservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashservlet</servlet-name>
        <servlet-class>dashservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarksServlet</servlet-name>
        <servlet-class>MarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarksServlet1</servlet-name>
        <servlet-class>MarksServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarksServlet47</servlet-name>
        <servlet-class>MarksServlet47</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoursesEnrolled</servlet-name>
        <servlet-class>CoursesEnrolled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attendance</servlet-name>
        <servlet-class>Attendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalInfo</servlet-name>
        <servlet-class>PersonalInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentsInfo</servlet-name>
        <servlet-class>ParentsInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTable</servlet-name>
        <servlet-class>TimeTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupservlet</servlet-name>
        <url-pattern>/signupservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashservlet</servlet-name>
        <url-pattern>/dashservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarksServlet</servlet-name>
        <url-pattern>/MarksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarksServlet1</servlet-name>
        <url-pattern>/MarksServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarksServlet47</servlet-name>
        <url-pattern>/MarksServlet47</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesEnrolled</servlet-name>
        <url-pattern>/CoursesEnrolled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attendance</servlet-name>
        <url-pattern>/Attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalInfo</servlet-name>
        <url-pattern>/PersonalInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentsInfo</servlet-name>
        <url-pattern>/ParentsInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTable</servlet-name>
        <url-pattern>/TimeTable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
